In [28]:
#라이브러리 불러오기
import pandas as pd 

#파일경로를 찾고 변수 file_path에 저장
file_path= './data/people_why_seoul.xlsx'

#read_excel()함수로 데이터프레임 변환 
df = pd.read_excel(file_path)


#데이터프레임 출력
df

   지역별  응급의료기관     총전입     총전출     저출산      고령화      일자리         계
0   서울      51   91225   94248  334562  2595349  5057000   9422710
1   경기      67  138044  131506  638142  3262870  7403000  13607919
2   부산      28   31180   31800  123580  1101585  1677000   3311402
3   대구      16   22316   22557   94216   677971  1677000   2357881
4   인천      19   30920   28525  128725   749606  1597000   2976338
5   광주      20   13713   14728   63914   355178   753000   1426625
6   대전      10   17265   17351   62375   372538   789000   1445214
7   울산       7    8741    9304   50225   269938   559000   1107134
8   세종       2    6221    5459   28512    73570   200000    385825
9   강원      22   14581   15097   59802   543263   741000   1533356
10  충북      15   16205   16268   66534   498102   875000   1594109
11  충남      17   24994   24311   92096   683482  1151000   2125333
12  전북      20   17200   17690   64359   624351   929000   1764181
13  전남      37   16554   16528   69285   691628   980000   1813439
14  경북      31   22636   24286   98410   946731  1386000   2592205
15  경남      37   26104   27646  132994   996472  1680000   3267369
16  제주       6    8201    8796   32651   184166   391000    677115

In [29]:
import numpy
from scipy import stats

#귀무가설1: 인구수는 고령화 수가 높으면 높다.
#대립가설1: 인구수는 고령화 수가 높으면 낮다.
#귀무가설2: 인구수는 출산 수가 높으면 높다.
#대립가설2: 인구수는 출산 수가 낮으면 낮다.

y = df['계'].to_list()
ys_young = df['저출산'].to_list()         
ys_old = df['고령화'].to_list()
y_in=df['총전입'].to_list()   
y_out=df['총전출'].to_list()   
y_medical=df['응급의료기관'].to_list()   
y_job=df['일자리'].to_list()  

# people
people = numpy.array(y)
# young
young = numpy.array(ys_young)
# old
old = numpy.array(ys_old)
#in
people_in = numpy.array(y_in)
#out
people_out = numpy.array(y_out)
#medical
medical = numpy.array(y_medical)
#job
job = numpy.array(y_job)

correlation_coef1, young_value = stats.pearsonr(young, people)
print('상관계수 = %.5f, young_pvalue = %.20f' % (correlation_coef1, young_value))
correlation_coef2, old_value = stats.pearsonr(old, people)
print('상관계수 = %.5f, old_pvalue = %.20f' % (correlation_coef2, old_value))
correlation_coef3, people_in_value =stats.pearsonr(people_in, people)
print('상관계수 = %.5f, p-value = %.20f' % (correlation_coef3, people_in_value))
correlation_coef4, people_out_value = stats.pearsonr(people_out, people)
print('상관계수 = %.5f, p-value = %.20f' % (correlation_coef4, people_out_value))
correlation_coef5, medical_value = stats.pearsonr(medical, people)
print('상관계수 = %.5f, p-value = %.20f' % (correlation_coef5, medical_value))
correlation_coef6, job_value = stats.pearsonr(job, people)
print('상관계수 = %.5f, p-value = %.20f' % (correlation_coef6, job_value))

상관계수 = 0.98797, young_pvalue = 0.00000000000014158407
상관계수 = 0.98920, old_pvalue = 0.00000000000006318304
상관계수 = 0.99704, p-value = 0.00000000000000000396
상관계수 = 0.99825, p-value = 0.00000000000000000008
상관계수 = 0.88696, p-value = 0.00000208757193991802
상관계수 = 0.99817, p-value = 0.00000000000000000011